#tab-handle-row {
    flex-grow: 1;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

.tab-handle {
    max-width: 20ch;
    flex: 1;
}

.tab-handle > * {
    flex-grow: 1;
    justify-content: space-between;
}

.tab-close {
    float: right;
}
